<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<header>
    <h1>TV Show</h1>
</header>
<main>
    <h2>Prize!!!</h2>
    <div>
        Your prize is : <img src="../static/images/noprize.png" height="100" width="100" alt="No Prize"
                             th:src="@{|images/${prize.getPrize().getValue()}.png|}" >

    </div>


    <p class="choice-container">
        <img th:each="valueBox: ${prize.getGuesses()}"
             th:src="@{|images/${valueBox.getValue()}.png|} " height="100" width="100"
             src="../static/images/noprize.png" alt="prize">
        <!--/*-->
        <img src="../static/images/sportcar.png" alt="box 2">
        <img src="../static/images/money.png" alt="box 3">
        <img src="../static/images/noprize.png" alt="box 4">

        <!--*/-->
    </p>


    <p>
        <a href="PlayTemplate.html" th:href="@{playTemplate}">Play Again!</a>
    </p>
</main>
</body>
</html>