<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<header>
    <h1>TV Show</h1>
</header>
<main>
    <h2>Prize!!!</h2>
    <p>
        <label>Your won:</label>&nbsp;<span th:text="${prize.prizeText}">Money</span>
    </p>

    <div class="choice-container">
        <img src="../static/images/noprize.png" height="100" width="100" alt="No Prize"
             th:src="@{|images/${prize.value}.png|}" th:alt="${prize.value}">
        <img src="../static/images/money.png" height="100" width="100"  alt="Money"
             th:src="@{|images/${prize.value}.png|}" th:alt="${prize.value}">
        <img src="../static/images/noprize.png" height="100" width="100" alt="No Prize"
             th:src="@{|images/${prize.value}.png|}" th:alt="${prize.value}">
        <img src="../static/images/sportcar.png" height="100" width="100"  alt="Sportscar"
             th:src="@{|images/${prize.value}.png|}" th:alt="${prize.value}">
    </div>

</main>
</body>
</html>