<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<header>
    <h1>TV Show</h1>
</header>
<main>
    <h2>Prize!!!</h2>
    <p>
        <label>Your prize is:</label>&nbsp;<span th:text="${prize.getPrizeText()}">Money</span>
    </p>


  <!--  <p>
        <img th:each="value: ${prize.getGuesses()}"
             th:src="@{|images/${value.getValue()}.png}"
             src="../static/images/noprize.png" alt="side 1">
        &lt;!&ndash;/*&ndash;&gt;
        <img src="../static/images/sportcar.png" alt="side 2">
        <img src="../static/images/money.png" alt="side 3">
        <img src="../static/images/noprize.png" alt="side 3">

        &lt;!&ndash;*/&ndash;&gt;
    </p>-->



   <div class="choice-container">
        <img src="../static/images/noprize.png" height="100" width="100" alt="No Prize"
             th:src="@{|images/${prize.getValue()}.png|}" th:alt="${prize.value}">
        <img src="../static/images/money.png" height="100" width="100"  alt="Money"
             th:src="@{|images/${prize.getValue()}.png|}" th:alt="${prize.value}">
        <img src="../static/images/noprize.png" height="100" width="100" alt="No Prize"
             th:src="@{|images/${prize.getValue()}.png|}" th:alt="${prize.value}">
        <img src="../static/images/sportcar.png" height="100" width="100"  alt="Sportscar"
             th:src="@{|images/${prize.getValue()}.png|}" th:alt="${prize.value}">
    </div>
    <p>
        <a href="PlayTemplate.html" th:href="@{playTemplate}">Play Again!</a>
    </p>
</main>
</body>
</html>